body{
    font-family: iransans;
}
/********* Menu Styel***************/
nav a{
    margin-right: 15px;
    color: white;
}

nav a:hover{
    color: #3498db;
    font-size: 20px;
}
/**** Haeder **************/
#header{
    
    height: 200px;
    background-image: url("../images/header.png");
    background-size: cover;

}

#logo{
    width: 100px;
    height: 100px;
}

/************* Footer  ********************/
#test1{
    background-color: hotpink;
}
#test2{
    background-color: lawngreen;
}

#social{
    list-style-type: none;
   
}
footer ul li{
    display: inline;
}

/* *********** To Top Button *********** */
#totop {
    position: fixed;
    bottom: 15px;
    right: 25px;
    cursor: pointer;
    z-index: 120;
    display: none;
    
  }